@model webAppLibreria.Models.Inventario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Existencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdlibroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdlibroNavigation.Idlibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsucursalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsucursalNavigation.Idsucursal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idinventario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
